.main {
  padding: 4rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.searchdialog {
  top: 0;
  padding: 4px;
  margin: 10rem;
  width: 460px;
  position: fixed;
  border-radius: 6px;
}
