.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.searchbar {
  flex: 0 0 100%;
  max-width: 525px;
  margin-top: 2vh;
}

.searchdialog {
  top: 0;
  padding: 4px;
  margin-top: 5vh;
  max-width: 525px;
  position: fixed;
  border-radius: 6px;

  .searchresults {
    max-height: 80vh;
    overflow-y: scroll;

    .episode {
      display: flex;
      gap: 20px;

      .details {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}
